psutil
tabulate
dill
jsonpickle
blosc2==2.2.9
msgpack==1.0.7
ndindex==1.7
numexpr==2.8.7
numpy==1.26.0
packaging==23.2
pandas==2.1.1
polars==0.19.7
py-cpuinfo==9.0.0
pyarrow==13.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tables==3.9.1
tzdata==2023.3
